@media screen and (max-width:945px)
	nav ul li
		vertical-align top
		text-align center
	
	nav ul
		text-align left

@media screen and (max-width:800px)
	.p2, .p3
		display none

	nav ul li
		width 19.7%

	.menu_inflables figure
						width 30%
						margin 0 auto

@media screen and (max-width:650px)
	nav ul li
				width 33.0%
				padding 0

	h3
		text-align left

	.lista-imagenes, .datos
			width 100%
			display block
			margin auto

	article, aside
		width 100%
		display block

	aside
		margin-top 10px
		text-align center

	section, article
		paddin 0
		width 100%

	.miniserv
		width 42%
		margin 2px auto

	.submenu 
		display none

	#welcome
		padding 0
		margin 0

		#wowslider-container1
					display block
					width 98%
					padding 0
					margin 0

		#box-ofer
			display none

		figure .fb-like
				display none

	#banner_video, #vp1XqISc
				text-align center
				padding 0
				margin 0
				width 100%

@media screen and (max-width:600px)
	.menu_inflables figure
						width 40%

@media screen and (max-width:520px)
	header, header nav
		padding 0
		margin 0 auto

		nav ul
				padding 1px
				margin 0 auto

		nav ul li
					border 0
					width 49.1%
					margin 1px

	header nav #bk-home,#bk-brincolines,#bk-mobiliarioytoldos,#bk-faq,#bk-contacto,#bk-blog
		background-image none
		border 0	

	#wowslider-container1
						display block
						width 100%

	h4
		padding 0
		margin 0
		display none
	
	#social-holder
			width auto
			margin auto
			text-align center

	.menu_inflables figure
						width 40%

	.lista-imagenes ul li
						width 45%
	section, article
		padding 0
		margin 0 auto

@media screen and (max-width:480px)
	nav ul
			padding 0

	nav ul li
			width 40%

	#welcome-servicios
		padding 0
		margin 0 auto
		text-align center

	.miniserv
		padding 0
		margin 5px auto
		width 95%
		display block

@media screen and (max-width:240px)
	h1
		font-size 1.6em

	#info
		padding 0
		width 100%

	nav ul li
		width 100%
		padding 0
		margin 0
